Repository herberttn/bytenode-webpack-plugin: changes, and which Codecov flags are due for each by the changed paths.
All: all, tests, tests/webpack

codecov.yml:

comment:
  behavior: default
  layout: "diff, flags, files"
  require_changes: false
  show_carryforward_flags: true

coverage:
  status:
    project:
      default: off
      all:
        flags: all
      tests:
        flags: tests
      tests/webpack:
        flags: tests/webpack
flags:
  all:
    paths: [src]
    carryforward: true
  tests:
    paths: [test]
    carryforward: true
  tests/webpack:
    paths: [test/webpack]
    carryforward: true

github_checks:
  annotations: true

feat: make sure code is not inlined into loader
  .eslintrc.js
  package-lock.json
  package.json
  src/plugin.ts
  test/webpack/output-filename.test.ts
  test/webpack/output-leak.test.ts
  test/webpack/runner.ts
Due: all, tests, tests/webpack

test: normalize runner asset content discovery path
  test/webpack/runner.ts
Due: tests, tests/webpack

chore(release): 2.3.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  6fe597318dec75e9bacac691f0047764955c6a8a
Due: none

refactor: module/config update
  examples/electron-forge-typescript-webpack/forge.config.ts
  examples/electron-forge-typescript-webpack/package-lock.json
  examples/electron-forge-typescript-webpack/package.json
  examples/electron-forge-typescript-webpack/webpack.main.config.js
  examples/electron-forge-typescript-webpack/webpack.main.config.ts
  examples/electron-forge-typescript-webpack/webpack.plugins.js
  examples/electron-forge-typescript-webpack/webpack.plugins.ts
  examples/electron-forge-typescript-webpack/webpack.preload.config.js
  examples/electron-forge-typescript-webpack/webpack.preload.config.ts
  examples/electron-forge-typescript-webpack/webpack.renderer.config.js
  examples/electron-forge-typescript-webpack/webpack.renderer.config.ts
  examples/electron-forge-typescript-webpack/webpack.rules.js
  examples/electron-forge-typescript-webpack/webpack.rules.ts
Due: none

fix: get preload working in electron typescript example
  examples/electron-forge-typescript-webpack/forge.config.ts
  examples/electron-forge-typescript-webpack/src/index.ts
  examples/electron-forge-typescript-webpack/src/preload.ts
  examples/electron-forge-typescript-webpack/webpack.preload.config.ts
Due: none

fix: Description is required.
  examples/electron-forge-typescript-webpack/package.json
  examples/electron-forge-webpack/package.json
Due: none

refactor(examples): latest electron-forge and typescript configs (#19)
  examples/electron-forge-typescript-webpack/forge.config.ts
  examples/electron-forge-typescript-webpack/package-lock.json
  examples/electron-forge-typescript-webpack/package.json
  examples/electron-forge-typescript-webpack/src/index.ts
  examples/electron-forge-typescript-webpack/src/preload.ts
  examples/electron-forge-typescript-webpack/webpack.main.config.js
  examples/electron-forge-typescript-webpack/webpack.main.config.ts
  examples/electron-forge-typescript-webpack/webpack.plugins.js
  examples/electron-forge-typescript-webpack/webpack.plugins.ts
  examples/electron-forge-typescript-webpack/webpack.preload.config.js
  examples/electron-forge-typescript-webpack/webpack.preload.config.ts
  examples/electron-forge-typescript-webpack/webpack.renderer.config.js
  examples/electron-forge-typescript-webpack/webpack.renderer.config.ts
  examples/electron-forge-typescript-webpack/webpack.rules.js
  examples/electron-forge-typescript-webpack/webpack.rules.ts
Due: none

fix: normalize import paths for code replacement
  .github/workflows/ci.yml
  .github/workflows/release.yml
  package-lock.json
  package.json
  src/loaders.ts
  src/plugin.ts
  src/utils.ts
  test/examples.test.ts
  test/loaders.test.ts
  test/utils.test.ts
Due: all, tests

docs: update ci badge
  README.md
Due: none

chore(release): 2.3.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  1b8d19be49f083c9dc83bfd11c9b3eed1035d989
Due: none

fix types
  examples/electron-forge-typescript-webpack/webpack.shared.rules.ts
Due: none

single quote
  examples/electron-forge-typescript-webpack/webpack.shared.rules.ts
Due: none

example-bug
  examples/electron-forge-typescript-webpack/forge.config.ts
  examples/electron-forge-typescript-webpack/src/frame_preload.ts
  examples/electron-forge-typescript-webpack/webpack.preload.config.ts
Due: none
