Repository herberttn/bytenode-webpack-plugin: changes, and which Codecov flags are due for each by the changed paths.
All: all, tests, tests/webpack

ci: add codecov
  .github/workflows/ci.yml
  codecov.yml
  jest.config.ts
  package.json
Due: none

docs: add codecov badge
  README.md
Due: none

ci: replace codecov with coveralls
  .github/workflows/ci.yml
  codecov.yml
Due: none

docs: replace codecov badge with coveralls
  README.md
Due: none

docs: add badge icons and use consistent style
  README.md
Due: none

chore: update lock
  package-lock.json
Due: none

fix: bump bytenode to fix bytenode/bytenode#122
  package-lock.json
  package.json
Due: none

chore(release): 1.2.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  62124920a0212be41e36590a9d89520c12a8f04e
Due: none

fix: normalize loader import path to compiled file
  package-lock.json
  package.json
  src/index.ts
  src/loader.ts
  test/loader.test.ts
Due: all, tests

chore(release): 1.2.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  fb640dc69f66e65ca8655014e3d8e725423fa3e2
Due: none

fix: misplaced dependency
  package-lock.json
  package.json
Due: none

chore(release): 1.2.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  b4ace2133b70942e6d8654e7deb131f18373aa9a
Due: none

refactor: rename type file
  src/index.ts
  src/types-normalized.ts
Due: all

refactor: use builtin path normalizer
  src/loader.ts
Due: all

refactor: extract platform mock
  test/loader.test.ts
  test/mocks/platform.ts
Due: tests

fix: webpack externals need to receive posix style paths
  src/index.ts
  src/paths.ts
  test/paths.test.ts
Due: all, tests

chore(release): 1.2.5 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  6b5785d3bdb05ee01c746eca4ad4e67ea86e6c1c
Due: none

Updated webpack-virtual-modules
  package.json
Due: none

Updated bytenode
  package.json
Due: none

Allow Webpack 5.x as peer dependency
  package.json
Due: none

Made Webpack entrypoint location more flexible
  src/index.ts
Due: all

build(deps): bump linter
  package-lock.json
  package.json
Due: none

build(deps): bump typescript
  README.md
  package-lock.json
  package.json
  tsconfig.json
Due: none

build(deps): bump jest
  jest.config.ts
  package-lock.json
  package.json
Due: none

feat(deps): bump bytenode
  package-lock.json
  package.json
  src/declarations.d.ts
  src/index.ts
Due: all

build(deps): bump semantic-release
  package-lock.json
  package.json
Due: none

feat(deps): bump webpack-virtual-modules
  package-lock.json
  package.json
Due: none

feat(deps): bump webpack-merge
  package-lock.json
  package.json
Due: none

feat(deps): bump webpack-hot-middleware
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  a49efe830722bfd491f1d45af6ea94501344cc54
Due: none

feat: webpack v5
  .eslintrc.js
  .github/workflows/ci.yml
  .github/workflows/release.yml
  README.md
  jest.config.ts
  package-lock.json
  package.json
  src/index.ts
  src/loader.ts
  src/loaders.ts
  src/paths.ts
  src/sources.ts
  src/types-normalized.ts
  src/types.ts
  src/utils.ts
  test/loader.test.ts
  test/loaders.test.ts
  test/mocks/bytenode.ts
  test/mocks/platform.ts
  test/paths.test.ts
  test/sources.test.ts
  test/utils.test.ts
  test/webpack/entry-array.test.ts
  test/webpack/entry-dependency.test.ts
  test/webpack/entry-filename.test.ts
  test/webpack/entry-function.test.ts
  test/webpack/entry-middlewares.test.ts
  test/webpack/entry-object.test.ts
  test/webpack/options-debug-lifecycle.test.ts
  test/webpack/options-keep-source.test.ts
  test/webpack/output-filename.test.ts
  test/webpack/plugin-logs.test.ts
  test/webpack/runner.ts
Due: all, tests, tests/webpack

build: add node engine requirement
  package-lock.json
  package.json
Due: none

build: bump github actions
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  e4375bec10c2ae8c6b0728f78cab62450eb2e5ca
Due: none

Path conditions:
  all: any of: src
  tests: any of: test
  tests/webpack: any of: test/webpack
