Repository herberttn/bytenode-webpack-plugin: changes, and which Codecov flags are due for each by the changed paths.
All: all, tests, tests/webpack

Using regex to force import bytenode before webpack require of .jsc.
  src/index.ts
Due: all

fix regex check
  src/index.ts
Due: all

feat: electron-forge v6 support
  README.md
  package-lock.json
  package.json
  src/index.ts
  src/loaders.ts
  src/sources.ts
  src/types.ts
  src/utils.ts
  test/loaders.test.ts
  test/utils.test.ts
  test/webpack/entry-middlewares.test.ts
  test/webpack/output-filename.test.ts
  tsconfig.project.json
Due: all, tests, tests/webpack

chore(release): 2.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  9eb6916bd898fd70d89d09c402918dee77bbb6a9
Due: none

fix: strip-shebang should be a production dependency
  package-lock.json
  package.json
Due: none

chore(release): 2.1.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  96af85c7d5513646d45446561c04d9344704e8ce
Due: none

chore(deps): bump @typescript-eslint and patch jest
  package-lock.json
  package.json
Due: none

docs: add examples
  .eslintignore
  .gitignore
  README.md
  examples/electron-forge-typescript-webpack/.eslintrc.json
  examples/electron-forge-typescript-webpack/.gitignore
  examples/electron-forge-typescript-webpack/package-lock.json
  examples/electron-forge-typescript-webpack/package.json
  examples/electron-forge-typescript-webpack/src/index.css
  examples/electron-forge-typescript-webpack/src/index.html
  examples/electron-forge-typescript-webpack/src/index.ts
  examples/electron-forge-typescript-webpack/src/preload.ts
  examples/electron-forge-typescript-webpack/src/renderer.ts
  examples/electron-forge-typescript-webpack/tsconfig.json
  examples/electron-forge-typescript-webpack/webpack.main.config.js
  examples/electron-forge-typescript-webpack/webpack.plugins.js
  examples/electron-forge-typescript-webpack/webpack.preload.config.js
  examples/electron-forge-typescript-webpack/webpack.renderer.config.js
  examples/electron-forge-typescript-webpack/webpack.rules.js
  examples/electron-forge-webpack/.gitignore
  examples/electron-forge-webpack/package-lock.json
  examples/electron-forge-webpack/package.json
  examples/electron-forge-webpack/src/index.css
  examples/electron-forge-webpack/src/index.html
  examples/electron-forge-webpack/src/main.js
  examples/electron-forge-webpack/src/renderer.js
  examples/electron-forge-webpack/webpack.main.config.js
  examples/electron-forge-webpack/webpack.plugins.js
  examples/electron-forge-webpack/webpack.renderer.config.js
  examples/electron-forge-webpack/webpack.rules.js
  examples/webpack/.gitignore
  examples/webpack/entry-one.js
  examples/webpack/entry-two.js
  examples/webpack/package-lock.json
  examples/webpack/package.json
  examples/webpack/webpack.config.js
  tsconfig.test.json
Due: none

test: in memory file system
  package-lock.json
  package.json
  test/webpack/runner.ts
Due: tests, tests/webpack

test: better test file names
  test/webpack/entry-as-array.test.ts
  test/webpack/entry-as-function.test.ts
  test/webpack/entry-as-object.test.ts
  test/webpack/entry-as-string.test.ts
  test/webpack/entry-dependency.test.ts
  test/webpack/options-keep-source.test.ts
  test/webpack/plugin-debug-lifecycle.test.ts
  test/webpack/plugin-keep-source.test.ts
Due: tests, tests/webpack

test: prevent source maps option
  test/webpack/plugin-prevent-source-maps.test.ts
Due: tests, tests/webpack

feat: warn when compiling to but not targeting electron
  src/index.ts
  test/webpack/plugin-compile-for-electron.test.ts
  test/webpack/plugin-debug-lifecycle.test.ts
  test/webpack/plugin-prevent-source-maps.test.ts
Due: all, tests, tests/webpack

refactor: move plugin to its own file and export types
  src/index.ts
  src/plugin.ts
  src/types.ts
Due: all

refactor: replace strip-shebang with shebang-regex
  package-lock.json
  package.json
  src/sources.ts
Due: all

feat: add include and exclude options
  README.md
  package-lock.json
  package.json
  src/plugin.ts
  src/types.ts
  src/utils.ts
  test/webpack/plugin-exclude.test.ts
  test/webpack/plugin-include.test.ts
Due: all, tests, tests/webpack

docs: add more details to electron-forge caveats
  README.md
Due: none

docs: describe examples
  README.md
Due: none

chore(release): 2.2.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  448da5803fb485e60a9abcdd66f301995df7c666
Due: none

test: refactor to be able to test asset content
  test/webpack/entry-as-array.test.ts
  test/webpack/entry-as-object.test.ts
  test/webpack/entry-as-string.test.ts
  test/webpack/entry-dependency.test.ts
  test/webpack/fixtures/first.js
  test/webpack/fixtures/second.js
  test/webpack/fixtures/third.js
  test/webpack/output-filename.test.ts
  test/webpack/plugin-exclude.test.ts
  test/webpack/plugin-include.test.ts
  test/webpack/plugin-keep-source.test.ts
  test/webpack/plugin-prevent-source-maps.test.ts
  test/webpack/runner.test.ts
  test/webpack/runner.ts
Due: tests, tests/webpack

docs: context isolation and node integration
  examples/electron-forge-typescript-webpack/src/index.ts
  examples/electron-forge-webpack/src/main.js
Due: none

feat: make sure code is not inlined into loader
  .eslintrc.js
  package-lock.json
  package.json
  src/plugin.ts
  test/webpack/output-filename.test.ts
  test/webpack/output-leak.test.ts
  test/webpack/runner.ts
Due: all, tests, tests/webpack

ci: run on beta and rc branches
  .github/workflows/ci.yml
Due: none

ci: run on multiple platforms and node versions
  .github/workflows/ci.yml
Due: none

chore: bump typescript to v4.9
  .nvmrc
  package-lock.json
  package.json
  tsconfig.json
Due: none

fix: ensure node v14 support
  package-lock.json
  package.json
  src/plugin.ts
  test/webpack/runner.ts
Due: all, tests, tests/webpack

ci: disable line break linter
  .eslintrc.js
  test/webpack/runner.ts
Due: tests, tests/webpack

ci: remove macos runner
  .github/workflows/ci.yml
Due: none

test: normalize runner asset content discovery path
  test/webpack/runner.ts
Due: tests, tests/webpack

chore(release): 2.3.0-rc.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  90ca1ee83ed70428c59e0c9b6162ef44ea97992b
Due: none

Path conditions:
  all: any of: src
  tests: any of: test
  tests/webpack: any of: test/webpack
